<style>
    input[type=text] {
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid silver;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    button {
        border: 2px solid silver;
        background-color: white;
        font-size: 16px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        cursor: pointer;
    }

    button:active {
        border-color: black;
    }

    #container {
        border: 2px darkred dashed;
        padding: 20px;
    }
</style>

<div id="container">
    <demo-user></demo-user>
    <div>
  <h1 class="heading">Microfrontend 2</h1>
      <div class="form-group">
    <label for="gitUserName">GitHub Repo: </label>
    <input type="text" class="form-control" name="gitUserName" [(ngModel)]="gitUserName">
  </div>

  <div class="form-group">
    <button type="button" (click)="getRepos()">Get Repos</button>
  </div>

  <div *ngIf="loading">loading...</div>

  <div *ngIf="errorMessage">
    <strong>Keine Daten vorhanden!</strong>
  </div>

  <table *ngIf="repos.length > 0" class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>HTML Url</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repo of repos;">
        <td>{{repo.id}}</td>
        <td>{{repo.name}}</td>
        <td>{{repo.html_url}}</td>
        <td>{{repo.description}}</td>
      </tr>
    </tbody>
  </table>
  <div>
  </div>
</div>
